.logo {
  border-radius: 50%;
  height: 100px;
}

header {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
  padding: 10px 0;
}

header .logo {
  float: left;
  display: flex;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 30px;
}
